- name: Install common packages
  homebrew: name={{ item }}
  with_items:
    - git
    - git-flow
    - zsh
    - zsh-completions
    - vim
  tags:
    - common

- name: remove some packages
  homebrew: name={{ item }}
  with_items:
    - tree
    - tmux
    - graphviz
    - wget
  tags:
    - remove

- name: Add homebrew tap repositories
  homebrew_tap: tap={{ item }} state=present
  with_items:
    - caskroom/cask
    - homebrew/services

- name: Install homebrew cask packages
  homebrew_cask: name={{ item }} state=present
  with_items:
    - visual-studio-code
    - iterm2
    - slack
    - google-chrome
    - jetbrains-toolbox
    - 1password
    - evernote
    - sourcetree
    - onyx
    - dash
  tags:
    - common

- name: remove brew cask pkgs
  homebrew_cask: name={{ item }} state=absent
  with_items:
    - coteditor
    - atom
    - sequel-pro
  tags:
    - remove
